# Data Analysis for Software Engineers

# 1.  Jupyter Notebook Installation

<img src="img/anaconda.png">

The simplest way to install Jupyter Notebook and other python libraries needed in this course is [Anaconda Ditribution](https://www.anaconda.com). Just follow instuctions on the site. Please, use a distribution with **python 3**.

Key python libraies for the course:
* Jupyther Notebbok
* Numpy
* Pandas
* Scipy
* Matplotlib
* Scikit-learn

All of them are included into Anaconda.

# 2. Python Tutorual

<img src="img/python.png" width="600">

### Calculator

In [1]:
2 * 7

14

In [2]:
6 + 4**2

22

In [3]:
16 / 4

4.0

In [4]:
25 / 7

3.5714285714285716

In [5]:
# other variants with the same result
25./7
25/7.
float(25)/7

3.5714285714285716

### Import Libraries
To import python libraries use **import** command.

In [6]:
import math
math.sqrt(4)

2.0

It is possible to import just selected functions form a library:

In [7]:
from math import sin
sin(3.14)

0.0015926529164868282

In [8]:
from math import pi
sin(pi) # sin was imported in the previous cell

1.2246467991473532e-16

### Variables

Forget about variables declaration. You need a variable, just take it!

In [9]:
x = 4
x

4

Incrementation

In [10]:
x = x + 2
x

6

In [11]:
x += 2
x

8

Logical operations

In [12]:
x != 7

True

In [13]:
x > 7

True

In [14]:
x < 7

False

Print

In [15]:
print(x)

8

In [16]:
print("x = ", x)

x =  8

### Data Types

#### String

In [17]:
s = "Blah-Blah"

In [18]:
# type of a string
type(s)

str

In [19]:
a = "Hello"
b = "World"
c = a + b
c

'HelloWorld'

In [20]:
'ABC' == 'abc'

False

In [21]:
'ABC' < 'DEF'

True

#### Lists

In [22]:
x = [2, 5, 1, 2, 3, 2, 4, 6]

In [23]:
x[0]

2

In [24]:
x[1] = 10
x

[2, 10, 1, 2, 3, 2, 4, 6]

In [25]:
x.append(2)
x

[2, 10, 1, 2, 3, 2, 4, 6, 2]

In [26]:
x.append(3)
x

[2, 10, 1, 2, 3, 2, 4, 6, 2, 3]

In [27]:
type(x)

list

You can type `x.` + **Tab** to get list of all methods of the object `x`. For an example:

In [28]:
x.count(2)

4

In [29]:
x.reverse()
x

[3, 2, 6, 4, 2, 3, 2, 1, 10, 2]

In [30]:
print (x)
print (x[2:5])
print (x[2:])
print (x[:5])

[3, 2, 6, 4, 2, 3, 2, 1, 10, 2]
[6, 4, 2]
[6, 4, 2, 3, 2, 1, 10, 2]
[3, 2, 6, 4, 2]

**Attention!** `x` is a **pointer**! It contains link to the list, but the list itself.

In [31]:
x

[3, 2, 6, 4, 2, 3, 2, 1, 10, 2]

In [32]:
y = x
y[0] = 15
x

[15, 2, 6, 4, 2, 3, 2, 1, 10, 2]

In [33]:
y

[15, 2, 6, 4, 2, 3, 2, 1, 10, 2]

### Type Conversion

In [34]:
a = 10.8
b = int(a)
print (b)

10

In [35]:
a = '213'
x = a + a
print (int(x))

213213

### Conditional Statements

All statements under conditions must be **indented**.

In [36]:
x = 3
if x == 2:
    print ('Okay')
    print ('This is good number')
else:
    print ('Oh, noooo!')
    if x > 2:
        print ('x is greater than 2')
    else:
        print ('x is lesser than 2')

Oh, noooo!
x is greater than 2

In [37]:
if x == 2:
    print ('Okay')
elif x == 3:
    print ('Good')

Good

It is possible to set up several conditions using operator `and` and `or`.

In [38]:
x = 1.5
if x > 2 and x < 3:
    print ('Okay')

In [39]:
if x < 2 or x < 3:
    print ('Okay')

Okay

In [40]:
if 1 < x < 5:
    print ('Ok')

Ok

### Loop `for`

In [41]:
x = [1, 4, 9, 1]
i = 1234

for i in x:
    print (i)
    print ("One more")

print ("And finally")
print (i)

1
One more
4
One more
9
One more
1
One more
And finally
1

#### `break` and `continue`

In [42]:
for i in range(1, 10):
    if i**2 > 10:
        print ('Next')
        continue
    else:
        print (i)
    print ('Ok')

1
Ok
2
Ok
3
Ok
Next
Next
Next
Next
Next
Next

In [43]:
for i in range(1,10):
    if i**2 > 50:
        print ("Stop")
        break
    else:
        print (i)
    print ("Okay")
print ("Stopped")

1
Okay
2
Okay
3
Okay
4
Okay
5
Okay
6
Okay
7
Okay
Stop
Stopped

### Loop `while`

In [44]:
a = 1
b = 1
while b < 1000:
    c = a + b
    a = b
    b = c
    print (a)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [45]:
x=10
while True:
    print ("Hello")
    x=x+2
    if not (x<5):
        break

Hello

### Functions

In [46]:
func = lambda x: x**2

In [47]:
# the same
def my_function(x):
    x += 1
    return x**2

In [48]:
func(4)

16

In [49]:
my_function(4)

25

### Work with Files

Lets create a simple text file.

In [50]:
fout = open('temp.txt', 'w')

string = 'this is very interesting text\n'
fout.write(string)

fout.close()

In [51]:
!head temp.txt

this is very interesting text

Now lets write several line into the file:

In [52]:
string_arr = ['Indeed, this text is very interesting,\n', 
              'You should read it again', 
              ' and again']

with open('temp.txt', 'w') as fout:
    fout.writelines(string_arr)

And read the file:

In [53]:
with open('temp.txt', 'r') as fin:
    data = fin.read()

In [54]:
data

'Indeed, this text is very interesting,\nYou should read it again and again'